@import "../_base/variable.scss";
.btn {
  font-size: 15px;
  $height: 44px;
  margin: 0 8px;
  cursor: pointer;
}
.button-link {
  font-size: 15px;
  border: none;
  background-color: transparent;
  margin: 0 8px;
  cursor: pointer;
}
.button-main {
  padding: $space-small;
  border: 2px solid $color-black;
  background-color: transparent;
  min-width: 96px;
}
.button-secondary {
  padding: $space-small;
  border: 2px solid $color-black;
  background-color: $color-black;
  color: $color-main-light;
  min-width: 96px;
}
