@import "../_base/variable.scss";
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color-transparent;
  display: flex;
}
.modal-container {
  background-color: white;
  height: 80%;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  max-width: 600px;
  max-height: 600px;
  padding: 8px;
}
