.card {
  background-color: $color-white;
  height: 200px;
  width: 280px;
  border-radius: 10px;
  padding: 8px;
  position: relative;
  margin: 8px;

  .card-buttons,
  .card-links,
  .card-top {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
  }
  .card-buttons {
    position: absolute;
    bottom: 8px;
  }

  .card-single-button {
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    button {
      align-self: center;
      justify-self: center;
      margin: auto;
      bottom: 8px;
    }
  }
  .link {
    text-decoration: underline;
  }
}
