/* Colors */
$color-main: #406ff0;
$color-main-light: #f4f5f9;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #ff5342;

$color-transparent: #406ff085;
/* Spacing */
$space-extra-big: 44px;
$space-big: 32px;
$space-medium: 16px;
$space-small: 8px;

/*Screen*/
$screen-big: 768px;

/* Fonts */
$font-family: "Saira", sans-serif;
$font-heading-1-mobile: 32px;
$font-heading-1-tablet: 40px;
$font-heading-1-desktop: 64px;

$font-heading-2-mobile: 22px;
$font-heading-2-desktop: 42px;

$font-heading-3-mobile: 17px;
$font-heading-3-desktop: 24px;

$font-text-mobile: 17px;
$font-text-desktop: 18px;

$font-button-mobile: 15px;
$font-button-desktop: 19px;

$font-nav-bar: 17px;
